body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
#bg-image{
    background-image: url(images/donation13.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    text-align: justify;
}
.heading-area{
    text-align: center;
    color:black;
    padding: 5% 15%;
}
#top-heading-color{
    color: white;
}
h1{
    font-size: 50px;
}
#heading-text{
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(yellow,red);
    border-radius: 20px;
    font-weight: 900;    
}
#donate-today{
    background-color: rgb(178, 248, 248);
}
.flex-container{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;    
}
.tk{
    margin: 5%;
    width:50px;
    height:50px;
    font-weight: 900;
    color:rgb(124, 124, 124);
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    background-color: rgb(248, 243, 176);
    padding: 20px;
}
#bg-color{
    background-color: rgb(131, 243, 19);
    border: 2px solid rgb(11, 175, 11);
}
input{
    margin-top: 50px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    background-color: rgb(178, 248, 248);
}
hr{
    margin-bottom: 50px;
}
.flex-containter2{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.flex-item{
    margin: 2%;
    width: 300px;
    height: 400px;
    background-color: rgb(250, 236, 219);
    text-align: left;
    padding: 10px;  
}
#item2{
    background-color: rgb(200, 250, 233);
}
#item3{
    background-color: rgb(248, 207, 248);
}